<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0026fec354.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <title>Document| Image</title>
</head>
<body>
    <nav class="nav-container">
        <div class="navbrand">
        <i class="fa fa-italic" aria-hidden="true"></i><i class="brand">UI</i>
        </div>
        <ul class="nav-item">
            <li class="menu-link">
              <a class="option-link"  href="index.html">Home</a>
            </li>
            <li class="menu-link">
              <a  class="option-link" href="#">Docs</a>
            </li>
        </ul>
        <div class="icon-link">
                <li class="menu-link"><i class="fa fa-github" aria-hidden="true"></i></li>
                <li class="menu-link"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                <li class="menu-link"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li class="menu-link"><i class="fa fa-linkedin-square" aria-hidden="true"></i></li>
            </div>
    </nav>

    <div class="drawer-container">
        <aside class="sidebar-container">
            <ul class="sidebar-item-list">
                <a href="/Components/Avatar/Avatar.html" class="sidebar-item">Avatar</a>
                <a href="/Components/Alert/Alert.html" class="sidebar-item">Alert</a>
                <a href="/Components/Badge/Badge.html" class="sidebar-item">Badge</a>
                <a href="/Components/Button/Button.html" class="sidebar-item">Button</a>
                <a href="/Components/Card/Card.html" class="sidebar-item">Card</a>
                <a href="/Components/Image/Image.html" class="sidebar-item component-active">Images</a>
                <a href="/Components/Input/Input.html" class="sidebar-item">Input</a>
                <a href="/Components/Text/Text.html" class="sidebar-item">Text Utilities</a>
                <a href="/Components/List/List.html" class="sidebar-item">Lists</a>
                <a href="/Components/Navigation/Navigation.html" class="sidebar-item">Navigation</a>
                <a href="" class="sidebar-item">Modal</a>
                <a href="" class="sidebar-item">Rating</a>
                <a href="" class="sidebar-item">Toast/Snackbar</a>
                <a href="" class="sidebar-item">Simplified Grid</a>
            </ul>
        </aside>
        <main class="main-container">
            <div class="intro-container">
                    <h1>Images</h1>
                    <p>Images play an important role in any webpage. Though it is not recommended to include a lot of images, but it is still important to use good images wherever required.</p>
                    
                    <p>CSS plays a good role to control image display. You can set the various image properties using CSS.</p>
            </div>
            <div class="image-container">
                <h3 class="intro-container">Responsive Image</h3>
                <img class="responsive-image" src="/Resources/responsive-image.jpg" alt="responsive-image">
            </div>
            <div class="carbon-container">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=javascript&width=862&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=48px&ph=32px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%2520class%253D%2522image-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ch3%2520class%253D%2522intro-container%2522%253EResponsive%2520Image%253C%252Fh3%253E%250A%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522responsive-image%2522%2520src%253D%2522%252FResources%252Fresponsive-image.jpg%2522%2520alt%253D%2522responsive-image%2522%253E%250A%2520%253C%252Fdiv%253E%250A"
                style="width: 1024px; height: 239px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            
            

            <div class="image-container">
                <h3 class="intro-container">Round Image</h3>
                <img class="round-circle" src="/Resources/avatar2.jpg">
        
            </div>

            <div class="carbon-container">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=none&l=javascript&width=862&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=48px&ph=32px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522image-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ch3%2520class%253D%2522intro-container%2522%253ERound%2520Image%253C%252Fh3%253E%250A%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522round-circle%2522%2520src%253D%2522%252FResources%252Favatar2.jpg%2522%253E%250A%253C%252Fdiv%253E%250A"
                style="width: 1024px; height: 239px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
        
        </main>
    </div>

    <footer class="footer">
        <div class="ui-name"> Instant-UI </div>
        <p>Designed and built with all the love to help the community👩‍💻</p>     
    </footer>
</body>
</html>