@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("./Landingpage/layout.css");
@import url("/Components/Alert/Alert.css");
@import url("/Components/Avatar/Avatar.css");
@import url("/Components/Badge/Badge.css");
@import url("/Components/Button/Button.css");
@import url("/Components/Card/Card.css");
@import url("/Components/Image/Image.css");
@import url("/Components/Input/Input.css");

html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}



body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-size: 1.7rem;
    line-height: 1.6;
    
}

:root{
    --landing-fonts-color: #b45309;
    --white-font-color: #ffffff;
    --landing-hover-color: #fafaf9;
    --black-font-color: #000000;
    --green-font-color:#059669;
    --success-alert:#bbf7d0;
    --danger-alert: #fee2e2;
    --warning-alert: #fef3c7;
    --info-alert: #ccfbf1;
    --primary-alert:#bfdbfe;
    --secondary-alert: #d6d3d1;
    --success-font-color: #14532d;
    --danger-font-color: #991b1b;
    --warning-font-color:#a16207;
    --info-font-color: #134e4a;
    --primary-font-color: #0c4a6e;
    --badge-bg-color: #dd3434;
    --inactive-color:#404040;
    --pink-border-color:#f43f5e;
    

    /* padding/spacing/margin */

    --alert-margin: 1rem;
    --rem-border-radius:1rem;
    --tenrem-border-radius:10rem;
    --std-btn-padding:1rem 2rem;
    --rem-padding:1rem;
    --padding-bottom:0;
    





}

/* section css */

#hero-container{
    background-image: url('Resources/hero-img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    color: var(--landing-fonts-color);

}

.hero-caption{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-info{
    font-size: 2rem;
}

.hero-button{
    padding: 1rem 2rem; 
    border: var(--landing-fonts-color) 1px solid;  
    color: var(--landing-fonts-color);
    border-radius: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    text-decoration: none;
}

div a {
    margin: 0 1rem;
}

.hero-button:hover{
    border: var(--landing-fonts-color) 2px solid;
    font-size: 2rem;
}

.link{
    padding: 1rem 2rem;
    font-size: 3rem;
    color: var(--landing-hover-color);
    opacity: 0.5;
}

header a:hover{
    color: var(--landing-fonts-color);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carbon-container{
    max-width: 100%;
}