#grid-col {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 40rem;
    margin: 0 auto;

  }
  div.cell {
    background: var(--primary-alert);
    border: 1px solid var(--white-font-color);
    padding: 10px;
    text-align: center;
  }


#grid-row {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 50% 50%;
   width: 40rem;
    margin: 0 auto;
 }
  

