.small-avatar{
    height: 7rem;
    width: 7rem;
    border-radius: var(--border-radius);
    margin: 1rem;
}
.medium-avatar{
    height: 14rem;
    width: 14rem;
    border-radius: var(--border-radius);
    margin: 1rem;
}
.large-avatar{
    height: 20rem;
    width: 20rem;
    border-radius: var(--border-radius);
    margin: 1rem;
}

.avatar-type{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--landing-hover-color);
}

iframe{
    padding: 1rem 2rem;
    width: 110rem;
    height: 22rem;
    overflow-y: scroll;
}

.carbon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%
}

.avatar-profile{
    height: 14rem;
    width: 14rem;
    border-radius: 10rem;
}

.avatar-demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
    margin: 0 auto;
    background-color: var(--white-font-color);
    border: 2px solid var(--landing-hover-color);
    width: 30rem;
    box-shadow: 0.5rem 0.5rem var(--landing-hover-color);
}

.avatar-demo-heading{
    padding: 0;
    margin: 0;
    margin-bottom:1rem;
}

.avatar-demo-para{
    padding-top: 0;
    margin-top: 0;
    color: var(--gray-font-color);
    font-weight:20rem;
}

.avatar-demo-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-style{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-style i{
    color: var(--green-font-color);
    font-size: 2rem;
}


.component-active{
    color: var(--landing-fonts-color);
    font-weight: bold;
}